@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* marquee */
.marquee {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    box-sizing: border-box;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s  linear infinite; 
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
  }
  
 
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
.
/* header */
.school {
    display: flex;
}
.nav-item{
    margin-right: 32px;
    list-style: none;
    text-decoration: none;
}
.nav-link a{
    text-decoration: none;
}
.nav-link{
    
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: rgba(93, 88, 239, 1);
}
.btn-primary{
    padding: 10px 60px 10px 60px;
    background-color: orange;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
}
.sidebar{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
/* banner */
.banner-content h2{
    font-weight: bold;
    font-size: 3.5rem;
}
.Empowering{
    color: orange;
}
.towards-vision{
    color: skyblue;
}
.banner-description{
    font-weight:400;
    font-size: 1.25rem;
    color: black;

}

.enroll{
    padding: 10px 50px 10px 50px;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    

}
.banner-content{
    max-width: 640px;
    max-height: 331px;
    padding: 122px 0px 122px 0px;
}
.banner-image img{
    max-width: 468px;
    min-height: 575px;
}
.banner{
    max-width: 1160px;
    margin: 0 auto;
  
    display: flex;
    gap: 50px;
    
}
/* curriculumn */
.standard-curriculumn{
    background-image: url(../assets/bg.png);
    max-width: 1160px;
    margin: 0 auto;


}
.card-container{
    display: flex;
    gap: 20px;
}
.cards{
    padding: 53px 40px 53px 40px;
    border: none;
    border-radius: 18px;
    max-width: 300px;
    max-height: 476px;
    display: flex;
    flex-direction: column;

}

.card-1{
   background:linear-gradient(to bottom ,rgba(222, 245, 255, 1),rgba(222, 245, 255, 0))
   
   

}
.card-2{
    background:linear-gradient(to bottom ,rgba(255, 244, 220, 1),rgba(222, 245, 255, 0))
    
 }
 .card-3{
    background:linear-gradient(to bottom ,rgba(242, 232, 255, 1),rgba(222, 245, 255, 0))
 }
.cards a{
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 0 auto;

}
.read-1{
    color: rgba(100, 200, 255, 1);
    font-weight: bold;
    font-size: 1rem;
}
.read-2{
    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 1rem;
}
.read-3{
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 1rem;
}
.cards img{
    max-width: 136px;
    max-height: 136px;
    margin: 0 auto;
}
.Curriculumn-title{
    font-weight: bold;
    font-size: 2.87rem;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    
}
.curriculumn-subtitle{
    font-size: 1.5rem;
    color: rgba(32, 32, 32, 1);
    font-weight: bold;
    text-align: center;
}
.curriculumn-description{
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
.less{
    background-color: orange;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2em;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.btn-less{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}  
/* story */
#story{
    background-image: url(../assets/bg.png);
    background: linear-gradient(to top , rgba(254,163,1,0.2)  30%,rgba(255,255,255,0.5) 100%),url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.stories{
    display: flex;
    gap: 18px;
    max-width: 1160px;
    margin: 0 auto;
}
.november{
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: rgba(60, 216, 232, 1);
    border: none;
    max-width: 174px;
    max-height: 74px;
    border-radius: 47px;
    padding: 14px 15px 14px 15px;
    margin-left: 38px;
    margin-top: -25px;
}

.story-1{
    display:flex;
    flex-direction: column;
    max-width: 540px;
    max-height: 630px;
    border: none;
    background-color: white;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    
    
    
}
.stories img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-1-description{
    font-weight: 500;
    font-size: 1rem;
    color: rgba(102, 102, 102, 1);
   
    max-width: 433px;
    padding: 0px 38px 34px 60px;
    
}
.story-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}
.story-subtitle-1{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    padding: 20px 58px 20px 58px;
}
.story-2{
    display: flex;
    flex-direction: column;
    max-width: 290px;
    max-height: 301px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;

}
.november-1{
    background-color: rgba(149, 178, 38, 1);
    max-height: 38px;
    padding: 10px 15px 10px 15px;
    margin: 0 auto;
    margin-top: -25px;
}
#november-btn{
    background-color: rgba(93, 88, 240, 1);
}
.story-2-subtitle{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    max-width: 214px;
    padding: 28px 38px 28px 38px;
}
.other-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.view-all {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
    
}
/* footer */
#footer{
    background-color: rgba(1, 172, 253, 1);
    background-size: cover;
}
.education-title{
    max-width: 206px;
    font-weight: bold;
    font-size: 2.625rem;
    color: #FFFFFF;
}
.education-img{
    width:  100px;
    height: 100px;
}
.education>div{
    display: flex;
    align-items: center;
    min-width: 299px;
    max-height: 81px;
    
}
.education-description{
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    max-width: 500px;
}
.education{
    padding: 123px 0px 123px 147px;
}
.about-link{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
   
}
.about-title{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    list-style: none;
    
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: left;
   
   
}
.keep-title{
    font-size: 1.7rem;
    color: #FFFFFF;
    font-weight: bold;
}
.social{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10.15px;
}
#last{
    display: flex;
    min-width: 1160px;
    gap: 130px;
    
    margin: 0 auto;
    align-items: center;

}

    
 
/* responsive */
@media screen and (max-width:576px){
    .school h2{
        display: none;
    }
    .sidebar{
        display: block;
        max-width: 30px;
        min-height: 30px;
    }
    .nav-link ,.less,.btn-less,.story-1{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    .header{
        border-bottom: 2px solid orange;
        padding: 12px 16px 12px 16px;
        
    }
    .banner{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 20px;
        
    }
    .enroll{
        width: 200px;
        height: 42px; 
        font-size: 1rem;
        padding: 6px 24px 6px 24px;
        margin: 0 auto;
        
        
        
    }
    .banner-content h2{
        margin-bottom: 10px;
    }
    .banner-description{
        
        margin-bottom:28px;
    }
    .card-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .Curriculumn-title{
        font-size: 2rem;
        margin-top: 50px;
    }
    .other-story{
        grid-template-columns: repeat(2,1fr);
        width:100%;
        margin-left: 12px;
        margin-right: 12px;
        gap: 11px; 
   
        
        
    }
    .story-2{
        max-width: 220px;
        
        
    }
    #last{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        max-width: 390px;
        margin: 0 auto;
        gap: 10px;
        
        
    }
    .education{
      
        max-width: 331px;
        padding: 80px 20px 16px 40px;
      
    }
    .about{
        max-width: 331px;
        padding-bottom: 20px;
        
    }
    .keep{
        align-items: center;
        max-width: 200px;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-top: 20px;
    }
   
   
}